@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
	margin: 0;
	border: 0;
	/*align-items: center;*/
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.nav-center
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #111;
	color: #fff;
	padding: 15px;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 20px
}



ul
{

	list-style-type: none;
	display: flex;
	align-items: center;
}

ul li
{
	position: relative;
	list-style: none;
}

ul li a
{
	position: relative;
	display: inline-block;
	margin:0 15px;
	color: #fff;
	text-decoration: none;
}

.container
{
	height: 300px;
	border: 2px solid red;
	border-radius: 20px;
	background-color: #111;
	color: #fff;
	padding : 100px;
	margin-top: 300px;
	margin-left: 200px;
	margin-right: 200px;
	text-align: center;
	align-items: center;

}

.btn 
{
	position: relative;
	background: #2196f3;
	display: inline-block;
	color: #fff;
	margin-top: 20px;
	padding: 10px 30px;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 500;
}


